[2015-02-17 15:10] DigitalBrains1 opened #11 "VHDL generation error: wrapper for sum-of-products type"
When wrapping a sum-of-products type in a single-field record type, the generated VHDL is wrong; it seems to me like a superfluous VHDL signal is generated that has the type of the sum-of-products type (equivalently, the record type), but is used **both** that way **and** as if it where the product term in one of the sum constructors:

[code]

Where it seems to me it should be this:
[code]

Obviou

[2015-03-02 13:04] DigitalBrains1 commented on #11
Closing because I accidentally filed it in the wrong browser window; this should be a bug report against the clash2 repository, not clash-prelude.

[2015-03-02 13:04] #11 closed

[2015-05-06 04:53] Ericson2314 opened #15 "Moore machine combinatores"
We have mealy machines in here, why not more machines? While its not too hard to use the Mealy combinators to make a more machine, I found myself using Moore machines often enough to warrant writing the contaminator. I'd be happy to submit a pull request if you want one.

[2015-05-06 06:49] christiaanb commented on #15
I encourage a pull request. Please don't forget about haddock documentation.

[2015-05-07 08:33] #15 closed

[2015-05-13 21:48] Ericson2314 opened #17 "Add Safe vector indexing"
Just as we have pow2 block ram, etc, it would be nice if we had safe pow2 vector indexing.

I was just refactoring one of my processors to change the word size, and some bugs got caught with my tests instead of the type checker because I was using `!!`.

Maybe something like
[code]
should go in `CLaSH.Sized.Vector`?

Feel free to suggest a different identifier if you like the idea, of course.

[2015-05-17 16:12] christiaanb commented on #17
Perhaps call it `safeIndex`?
I mean... there are already:
[at](http://hackage.haskell.org/package/clash-prelude-0.7.5/docs/CLaSH-Sized-Vector.html#v:at)
[(!)](http://hackage.haskell.org/package/clash-prelude-0.7.5/docs/CLaSH-Prelude-BitIndex.html#v:-33-)
[(!!)](http://hackage.haskell.org/package/clash-prelude-0.7.5/docs/CLaSH-Sized-Vector.html#v:-33--33-)

I feel adding another indexing operator i

[2015-05-17 16:19] Ericson2314 commented on #17
Sure, that makes sense.

[2015-06-17 15:19] Alaya-in-Matrix opened #19 "error in Tutorial"
I think you mean "from or to" ?

[2015-06-17 15:41] #19 closed

[2015-06-17 15:41] christiaanb commented on #19
Thanks for the report

[2015-09-28 15:03] ggreif opened #27 "GHC HEAD compile error"
(I tried `--ghc-options="-fplugin GHC.TypeLits.Normalise"` but it did not help)

Maybe below error messages ring a bell what could have gone wrong...

[code]

[2015-09-28 15:07] christiaanb commented on #27
Meh, this is just a GHC bug..., is there any difference between the `-ddump-deriv` of 7.10.* and HEAD?

[2015-09-28 15:11] christiaanb commented on #27
It seems that `coerce` is failing those type-classes where the members do _not_ have a function type, such as `Bounded`:

[code]

[2015-09-28 15:24] ggreif commented on #27
I do not have 7.10.2 around, but I am adding the HEAD (7.11.20150621) output.

[code]

[2015-09-28 15:24] christiaanb commented on #27
Can you test if this works:

[code]

[2015-09-28 15:27] ggreif commented on #27
Yep, I get an error:

[code]

[2015-09-28 15:30] christiaanb commented on #27
The `CoerceBug` module compiles just fine on GHC 7.10.2. Could you post a regression/bug report on the GHC trac?

[2015-09-28 15:33] ggreif commented on #27
Just tried `version 7.11.20150923`, it works there! Sorry for the noise, looks like I'll need an upgrade... :-(

[2015-09-28 15:52] christiaanb commented on #27
So this issue can be closed then?

[2015-09-28 15:55] ggreif commented on #27
Probably, but let me check. Tomorrow I'll have a freshly baked GHC. Then I'll try building CLaSH, and if all goes right I close this myself.

[2015-09-29 15:16] ggreif commented on #27
I am hanging in the prerequisite packages `th-desugar` & co., (which do not compile due to TH changes) but the original bug seems to be fixed in yesterday's GHC. So, closing.

[2015-09-29 15:16] #27 closed

[2015-11-12 20:13] ggreif opened #31 "VHDL/Verilog probably shown wrong for clockWizard"
Below this line

https://github.com/clash-lang/clash-prelude/blob/master/src/CLaSH/Annotations/TopEntity.hs#L357

I would not expect 'altpll' appearances. Tomorrow I'll check what is generated for xilinx.

[2015-11-13 14:56] ggreif commented on #31
Okay, after creating a "wrapper" for the ClockWizard generated IP in Vivado I get
[code]
@christiaanb Looks like it is in disconnect with what the `clockWizard` function is creating. Esp. it uses differential clock inputs. No idea how to proceed though. I am poking around a bit more. If you have any ideas/questions, please comment.

[2015-11-13 15:31] christiaanb commented on #31
Ah... I only ever tested with single-ended clock sources, never with differential clock sources.

This is an oversight on my part, and will be fixed in the next release of the prelude. Perhaps file a new issue that the `TopEntity` annotations cannot deal with differential clock sources?

[2015-11-13 15:35] ggreif opened #33 "TopEntity annotations don't support differential clock sources"
Creating a "wrapper" for the ClockWizard generated IP in Vivado I get
[code]
This is not supported by the current TopEntity generator.

[2015-11-13 15:35] ggreif commented on #31
@christiaanb good. this is now #33.

[2015-11-13 15:35] #31 closed

[2015-11-13 15:42] ggreif commented on #33
@christiaanb Can you give me a hint how do I wire up this component? Esp. how should I use the `clockWizard` function to create the annotation? Right now I can edit the generated VHDL, but it won't compile:
[code]
My hand-edited file contains something like
[code]
Sorry for asking these nooby VHDL questions...

[2015-11-13 15:45] christiaanb commented on #33
Can you give me the `entity` declaration of `design_1`.

[2015-11-13 15:59] ggreif commented on #33
This seems to work:
[code]

The entity looks like this
[code]

[2015-11-13 16:10] ggreif commented on #33
@christiaanb not sure why the entity only contains inputs, but no outputs...

[2015-11-13 16:13] christiaanb commented on #33
Indeed, I do not really get the purpose of that generated `design1`, indeed, it seems you should use `design_1_clk_wiz_0_0`. I never use the Xilinx tools, so I don't really know what files are generated and why.

Anyhow, I'm glad you got it to work eventually.

[2015-11-13 16:23] ggreif commented on #33
@christiaanb It compiled, but `design_1_clk_wiz_0_0` is now considered a black box, so bitstream generation doesn't work :-(

[2015-11-13 17:19] ggreif commented on #33
@christiaanb I managed to extend the entity:
[code]

[2015-11-13 18:31] ggreif commented on #33
@christiaanb I succeeded generating my first bitstream :-) Please do not act on this issue yet (unless you have good reasons to write `clockWizardDifferential`), maybe I can pass the bundled differential clock through. Then there would be no need to change anything. Will play around with my setup next week.

[2015-11-18 20:02] ggreif commented on #33
@christiaanb I am working on this. Will need changes in `clash-prelude` and the `clash-compiler` packages `clash-lib`, `clash-vhdl` & co.

[2015-11-18 22:39] ggreif commented on #33
@christiaanb I have pushed stuff to my two cloned repos. It works as-is. I think I'll need to touch prelude, because I have to add a bit of information to ClockSignal, that it is differential.

[2015-11-19 00:06] christiaanb commented on #33
Wouldn't it have been easier to just change the type of the c_inp field from 'Maybe (String, String)' to [(String, String)], and support the multiple clock inputs like that? Then there wouldn't be a need to updat the code of the backend.

[2015-11-19 17:02] ggreif commented on #33
@christiaanb that was a very good suggestion. `c_inp` is a list now. I'll play around with the Vivado tool a bit more to figure out whether the `CLK_IN1_D_clk_n` nomenclature is standard, and maybe I can eliminate another string input to `clockWizardDifferential`. I'll defer the corresponding Altera functionality to someone else...

[2015-12-01 15:43] ggreif commented on #33
@christiaanb all should be in place now. I'd appreciate a quick review of my fork, then I'll squash and submit.

[2015-12-01 15:52] christiaanb commented on #33
Looks OK, as long as the PR only includes the changes for `clash-lib` and `clash-prelude`, and _not_ the ones to `clash-bin` and `clash-vhdl`. Also, if possible, the PR should have an updated https://github.com/clash-lang/clash-compiler/blob/master/stack.yaml pointing to the correct commit of `clash-prelude`.

[2015-12-02 12:55] ggreif commented on #33
Got my act together: pull request #37 and for clash-compiler i is pull request #100.

[2015-12-02 15:40] ggreif commented on #33
Okay, this is done!

[2015-12-02 15:40] #33 closed

[2016-01-21 10:54] ggreif opened #42 "BlockRam write logic is clumsy to say the least"
(Block)Ram write logic involves 3 distinct signals which are semantically coupled. Why not also represent them together? I came up with this adapter that consolidates the write logic to a `Maybe (addr, dta)`:

[code]

This invites the whole zoo of utilities dealing with `Maybe`. Which is a good thing.

What do you think? Would a pull request be accepted for inclusion? Maybe even make this the defa

[2016-01-21 13:28] christiaanb commented on #42
The `blockRam` functions are indeed very simple wrappers around [blockRam#](https://github.com/clash-lang/clash-prelude/blob/v0.10.5/src/CLaSH/Prelude/BlockRam.hs#L511). The primitive itself does not use `Maybe`, because sum-of-product types are not native to VHDL/Verilog.

Of course, the limitations of existing HDLs shouldn't restrict the CLaSH prelude :-)
I favour changing the default interface

[2016-01-21 13:32] ggreif commented on #42
Cool thing, I can wait :-)

[2016-01-21 13:50] christiaanb commented on #42
Yeah, me neither. Too bad GHC 8 is riddled with bugs introduced by both the type-in-kind and visible type applications patches. I think it'll be at least a month before GHC 8 can be released.

[2016-01-22 01:55] polygonhell commented on #42
If your changing blockRAM's, is there any reason their isn't a true dual ported version? I know Xilinx supports this, and I thought Altera did as well.
I ended up adding my own primitive and wrappers to support this.

[2016-01-23 14:30] christiaanb commented on #42
Indeed, both Altera and Xilinx support true dual ported blockRam's. However, I seem to remember that they have different recommended HDL coding styles for true dual ported blockRam inference.

@polygonhell: are you working with Xilinx or Altera? if you're working with Xilinx could you give me the primitive you created? I'll test it on altera then.

[2016-01-23 18:04] polygonhell commented on #42
I'm working with a couple of different Xilinx parts, I don't have an altera part to test, but I'm pretty sure I more or less copied the pattern from a Blog that claimed BlockRAM would be inferred on both.
The primitive is here https://github.com/polygonhell/J1LikeCPU the files are DPBRam.json and DPBRam.hs.

[2016-01-25 09:05] christiaanb commented on #42
@polygonhell I'm confused by your Haskell model and the corresponding VHDL. If I read your Haskell model, it seems that, when `wreA` is `true`, then `doutA` is equal to `dinA`, correct? However, when I look at your VHDL, when `wreA` is `true`, `doutA` its old value, i.e. _not_ even the old value at address `addrA`, but the value of `doutA` from the previous cycle.

Am I missing something?

[2016-01-25 15:57] polygonhell commented on #42
Your correct that's an error, in my case I actually don't care what dout is when wrE is true, but both models ought to at least agree. I can take a look once I get back from my current business trip.

[2016-02-06 17:32] polygonhell commented on #42
I apologize for this taking as long as it has.

I think I've fixed the semantics issue in the blockRAM, the semantics are now write first, which is what the haskell was doing.

This is the synthesis report I get from ISE, I'll check it on Vivado later.
FWIW I pretty much cut and pasted the VHDL from http://danstrother.com/2010/09/11/inferring-rams-in-fpgas/ (albeit incorrectly), he claims it's inf

[2016-02-06 18:44] polygonhell commented on #42
It appears to be correctly inferred in Vivado, I'd need to build a more thorough test to be sure, unfortunately the reports it produces are a lot harder to decode, it's certainly adding BlockRAM to the design and it's generating a Bit file, and it appears to have correctly inferred write first.
I don't have any Altera parts here to validate.

[2016-03-06 22:32] polygonhell opened #48 "Something triggering invalid infinite loop detection"
This occurs in the Haskell simulation, I can't easily verify the HDL version behaves the same currently.

This might also be my code at fault, but I can't see how, it seems to be something introduced by either the lift into the Mealy state machine or Signal or the BlockRAM implementation, it's hard to pinpoint.

The code that triggers it is here https://github.com/polygonhell/J1LikeCPU

If I run "

[2016-03-07 09:54] christiaanb commented on #48
There is a combinational loop though in `system`
* `iin -> lowbit`
* `lowBit -> addr`
* `addr -> out`
* `out -> iin`

Then you might argue, that `evalM`, which is based on `eval` makes sure that the `iOutAddr` value of `out` is not combinationally dependent on `iin`, i.e. `iOutAddr` is controlled by a register, this is however not true:

In `eval`:
* `iOutAddr -> pc'`
* `pc' -> isImm`
* `isImm ->

[2016-03-07 17:11] polygonhell commented on #48
Thanks, I completely missed that.

[2016-03-07 17:11] #48 closed

[2016-03-20 22:13] polygonhell opened #49 "clockWizard broken"
Looks like it was broken by part of the differential signaling change
My top entity def looks like this

[code]
and it results in this
[code]
Note that CLK_IN1 is specifed twice, which causes XISE to give these errors
Also note that CLK_OUT1 is not bound at all.

ERROR:HDLCompiler:433 - "\\psf\home\git\Clash\examples\Alu\vhdl\Main\main.vhdl" Line 25: Formal <clk_in1> is already associated.
ERROR:H

[2016-03-21 08:29] christiaanb commented on #49
Seems it was introduced by me when I implemented vivado-specific HDL output. I fixed it now, I'll make new release.

[2016-03-21 15:38] polygonhell commented on #49
cut and paste for the win.

[2016-03-21 15:48] christiaanb commented on #49
Fix is included in v0.6.16 of CLaSH: http://hackage.haskell.org/package/clash-ghc-0.6.16/changelog

[2016-03-21 15:48] #49 closed

[2016-03-30 18:36] ra1u opened #50 "(Feature req) Better optimisation for operator /="
Operator `/=` is not threated same at optimisation as `==`. Where there is possibility for code to be optimised away operator `==` works better (eliminates dead code) where `/=` does not

To show this we need some non trivial functions that generates files

common code

    module Pg2 where
    import CLaSH.Prelude

    type T = Signed 8

    funcA :: T -> T
    funcA a = fold (+) $ a :> 1 :> 2 :>

[2016-03-30 21:55] ra1u commented on #50
Previous post was relevant with clash 6.10 , latest version 6.14 now yields error at synthesis with example using  `/=`

    Loading dependencies took 0.173811s
    Applied 35 transformations
    Normalisation took 0.244344s
    *** Exception: CLaSH.Netlist(282): Not in normal form: Not a variable reference
    or primitive as subject of a case-statement

[2016-03-30 23:08] christiaanb commented on #50
I don't really know why versions beyond clash 0.6.10 trigger the above error, I'll see what I can do about it tomorrow. For now, I've implemented constant-reduction for `/=` on `Integer`, so that you get the optimised form, and no longer get the error. I'll also implement constant-reduction for other definitions of `/=` on the CLaSH primitive types.

[2016-04-07 11:43] #50 closed

[2016-04-19 22:33] ggreif opened #51 "Read instances for {Signed, Unsigned, Index}"
These are missing. Is there a specific reason, or just an oversight? I'll gladly send a PR.

[2016-04-20 08:07] christiaanb commented on #51
Just an oversight

[2016-04-20 12:31] #51 closed

[2016-04-26 03:24] dented42 opened #53 "mealy' can't be synthesized?"

[2016-04-26 06:34] christiaanb commented on #53
I guess you mean that the `moore'` function cannot be synthesized? Also, you are using clash 0.6.17, correct?

Now, `moore'` should definitely be synthesizable. However, CLaSH cannot synthesize recursive functions. Now, assuming you didn't actually write a recursive function, there are several reasons you might be getting the above error:

- The recursive where clause in `moore'`, https://github.c

[2016-04-26 07:49] dented42 commented on #53
I think you mean this?

[code]

[2016-04-26 07:51] dented42 commented on #53
And yes, I am using 0.6.17

[2016-04-26 08:13] christiaanb commented on #53
The "problem" is the `DecodeST` GADT, specifically, pattern matching on GADTs is not supported: http://hackage.haskell.org/package/clash-prelude-0.10.7/docs/CLaSH-Tutorial.html#g:19

So here's what's happening:

- GADTs cannot be synthesized due to their existential members/fields/arguments
- You have a function, `mooreTransition`, which is returning a GADT
- CLaSH does not synthesize `mooreTransi

[2016-04-26 22:18] ggreif opened #54 "Provide patterns for Bit"
I just came up with these bidirectional pattern synonyms for `high` and `low`:

[code]
I'll happily submit a pull request if you think that they are useful.

[2016-04-28 07:23] christiaanb commented on #54
Yeah... I don't know, you can already just pattern match on `0` and `1`. The only benefit of the pattern would be that it the argument you match on gets constrained to `Bit`, where matching on `0` or `1` only gets you a `(Num a, Eq a)` constraint.

Is that the purpose of the pattern synonym? better type inference?

[2016-04-28 07:29] ggreif commented on #54
Hey I did not know *that* trick. Cool! Closing...

On 4/28/16, Christiaan Baaij <notifications@github.com> wrote:

[2016-04-28 07:29] #54 closed

[2016-04-28 08:20] christiaanb commented on #54
Yeah, `BitVector`, and hence `Bit` (`type Bit = BitVector 1`), has a instances of both `Num` of and `Eq`, so you can pattern match on integer literals.
Actually, `high` and `low` are sort-of legacy constants, left over from a time when `Bit` was defined as `data Bit = High | Low`.

I've actually thought about removing the `high` and `low` constants, given that you can alse just use `1` and `0`. In

[2016-04-28 09:41] ggreif commented on #54
You can deprecate them with a blurb to use 1 (resp 0 for low)

On 4/28/16, Christiaan Baaij <notifications@github.com> wrote:

[2016-04-28 09:43] ggreif commented on #54
Should I submit a PR?

[2016-04-28 11:01] christiaanb commented on #54
It's ok, I'll add the deprecation message for the 0.11 release.

[2016-05-26 15:11] snoyberg opened #57 "Test suite failure with GHC 8"
This is a strange report, because the build log _looks_ like the test succeeded, but nonetheless it's reporting as a failure.

[code]

[2016-05-26 15:18] christiaanb commented on #57
Thanks for the report. I'll check it out on my own machine to see what is exactly going on.

[2016-05-27 07:24] christiaanb commented on #57
I think some sort of watchdog/timeout is triggered because the testsuite is going into an infinite loop on my machine.

The problem is, in my testsuite I have code that, on ghc 7.10 would result in an "Exception: <<loop>>" error, which I would catch. However, on ghc 8.0.1, it seems that this code no longer triggers the "Exception <<loop>>", but actually goes into an infinite loop...

[2016-05-31 11:00] expipiplus1 opened #58 "Replace uses of undefined with error"
It would be handy to know where an undefined value is coming from when running CLaSH dependent code through GHC.

Replacing uses of `undefined` with `error "Some helpful string"` would be very helpful.

[2016-05-31 14:47] christiaanb commented on #58
I agree, I want to use: https://github.com/clash-lang/clash-prelude/wiki/Clock-and-reset-modelling#212-catching-undefined to replace many (probably all) uses of `undefined`.

[2016-07-16 11:04] ggreif opened #61 "Lens.Ixed instance for (Vec n) is not total"
I am looking at https://github.com/clash-lang/clash-prelude/blob/master/src/CLaSH/Sized/Vector.hs#L1817; consider:
[code]
I get:
[code]

A possible fix would be to `Lens.Index` be defined as `CLaSH.Prelude.Index n`instead of `Int`. Or make a range check and return `Nothing`.

[2016-07-16 12:02] christiaanb commented on #61
Using `Index n` won't help you there, as you get a runtime error for `fromInteger 401 :: Index n`. Bounds checking will add overhead in the generated circuit.

[2016-07-28 15:03] bgamari commented on #17
What remains to be done on this?

[2016-07-28 18:50] christiaanb commented on #17
Well, mostly we need to decide if we need more indexing operations than we already have for Vec: http://hackage.haskell.org/package/clash-prelude-0.10.10/docs/CLaSH-Sized-Vector.html#g:4, and then decide on a type signature.

As we currently have:

[code]

[2016-08-19 12:32] comonoidial opened #65 "Supply more common memory structures (in a highlevel style)"
Currently the Clash prelude only supplies memory structures that are lowlevel wrapper around some vhdl primitives. This induces bugs and forces everyone to reinvent the wheel for using common memory structures.
The issue of lowlevel interface has been discussed in #42, and I agree the default blockRam signature should be something more Haskell like as in:
`(KnownNat n, Enum addr) => Vec n a -> Sig

[2016-08-20 11:28] juhp opened #66 "0.10.13: Conflicting exports for ‘Min’ and ‘Max’"
I don't understand why this started happening in the Stackage Nightly build, but reporting it here:

[code]

I could not reproduce locally with ``stack -resolver nightly build clash-prelude.

Any ideas?

[2016-08-20 14:32] christiaanb commented on #66
Yes, this is my fault, I (erroneously) updated the upper bound for the `ghc-typelits-extra` dependency on hackage. I've reverted this now.

I'll release a new version of clash-prelude, one that that supports `ghc-typelits-extra-0.2` soon.

[2016-08-20 23:02] juhp commented on #66
Okay thanks, I downgraded ghc-typelits-extra for now in Stackage Nightly.

[2016-08-21 08:37] christiaanb commented on #66
I have just released `clash-prelude-0.10.14`, which successfully builds against `ghc-typelits-extra-0.2`, on hackage: http://hackage.haskell.org/package/clash-prelude-0.10.14

[2016-08-21 08:37] #66 closed

[2016-08-26 08:48] tomjaguarpaw commented on #65
:+1: on the improved block RAM interface.

[2016-08-27 09:29] tomjaguarpaw opened #67 "maxIndex on Vec is inconsistent with maxIndex from Data.Vector"
[Data.Vector](https://hackage.haskell.org/package/vector-0.11.0.0/docs/Data-Vector.html) `maxIndex` returns "the index of the maximum element of the vector".  This is completely different from Clash's `maxIndex` from [CLaSH.Sized.Vector](https://hackage.haskell.org/package/clash-prelude-0.10.7/docs/CLaSH-Sized-Vector.html#v:maxIndex) which is "The index (subscript) of the last element in a Vector

[2016-08-27 10:31] tomjaguarpaw opened #68 "Could v be renamed?"
Having a top-level identifier called `v` really pollutes the global namespace.  Could it be renamed?  (After a suitable deprecation cycle, of course).

[2016-08-27 17:57] tomjaguarpaw opened #69 "Reading block RAM from undefined address breaks simulation?"
It seems that if I ever try to read from an `undefined` address then the block RAM simulation breaks.

[code]

[2016-08-27 18:03] tomjaguarpaw commented on #69
Once the `ST` computation encounters an exception the whole computation is dead forever more.

[2016-08-27 18:59] tomjaguarpaw commented on #69
Perhaps we could wrap it with this little beauty, which I believe you've mentioned before, @christiaanb

[code]

[2016-08-28 07:44] christiaanb commented on #67
I would prefer removing it then.

`maxIndex` is a function I added to the `clash-prelude` when we build the first prototype of CLaSH in 2009, at a time I didn't even know about `Data.Vector`. I think I'll deprecate `maxIndex` in clash-prelude-0.7, and then remove it in clash-prelude-1.0. I just don't know what to put exactly in the deprecation message?

`"'maxIndex' will be removed in CLaSH 1.0, u

[2016-08-28 07:44] christiaanb commented on #68
Yes, it should be renamed. Maybe something like: `list2VecTH`?

[2016-08-28 07:46] tomjaguarpaw commented on #67
That sounds fine.

[2016-08-28 07:46] tomjaguarpaw commented on #68
That sounds fine.

[2016-08-28 07:51] christiaanb commented on #69
You're right, reading at an `undefined` address should just return an `undefined` value once; not break the entire simulation.

On a related note, I wouldn't know what to do when you write to an `undefined` though. On the actual FPGA you would probably either write to some random address, or address zero. But I wouldn't know what the preferred simulation behaviour should be:

1. Stop the entire co

[2016-08-28 07:55] tomjaguarpaw commented on #69
The `undefined` writes question is a good one.  I think stopping the entire computation is reasonable since it will probably invoke undefined, or at the very least very puzzling, behaviour on hardware.

[2016-08-28 14:45] bergmark commented on #57
New output, but still broken unfortunately

[code]

[2016-08-28 16:05] tomjaguarpaw commented on #69
I tried wrapping the read address in `catchError` as above and it seems to work fine.

[2016-08-29 16:36] tomjaguarpaw opened #70 "Better interface for regEn"
`regEn` would be strictly typesafer if its signature were

    regEn :: a -> Signal (Maybe a) -> Signal a

rather than

    regEn :: a -> Signal Bool -> Signal a -> Signal a

This is very similar to https://github.com/clash-lang/clash-prelude/issues/42

[2016-08-29 16:37] tomjaguarpaw commented on #70
I don't suggest to break this type signature but the new version could be added and the old one deprecated eventually.

[2016-08-29 16:41] tomjaguarpaw commented on #70
[code]

[2016-08-29 16:42] tomjaguarpaw commented on #70
[code]

[2016-08-31 15:36] christiaanb commented on #70
I prefer the name `regMaybe`, thoughts?

[2016-08-31 15:36] tomjaguarpaw commented on #70
`regMaybe` seems good.

[2016-08-31 15:37] tomjaguarpaw commented on #70
In fact `registerMaybe` is even better.

[2016-08-31 15:48] #70 closed

[2016-08-31 20:13] ggreif opened #71 "Comonad instance for Vec"
This is a (low-prio) feature request. `Comonad` interface is very convenient for *looking at a vector from all perspectives (indices) at once*. It allows tranformations of the entire vector by allowing the mapping to *peek* into neighbouring elements . Think *blurring* of pixels [0], or other image transformations [1]. Writing down the instance is easy:
[code]
The question is whether one wants to

[2016-09-01 15:23] #69 closed

[2016-09-01 15:47] #68 closed

[2016-09-01 16:00] #67 closed

[2016-09-02 08:25] #58 closed

[2016-09-02 08:33] expipiplus1 commented on #58
ooh, `errorX` looks very useful, thanks!

[2016-09-02 08:59] comonoidial opened #72 "Suggestions for some utility functions"
Looking at some clash code I found useful functions missing from the prelude.

* snatToNum (as Integer is rarely used in designs)
* bitCast = unpack . pack  (implemented with zero cost in hardware)
* constructing a vector from a index mapping function  `(Index n -> a) -> Vec n a`
* multiplexor function with n inputs on Signal types so that it be conveniently written on one line (using a list of in

[2016-09-02 09:46] christiaanb commented on #72
There is `bitCoerce`: http://hackage.haskell.org/package/clash-prelude-0.10.14/docs/CLaSH-Class-BitPack.html#v:bitCoerce

[2016-09-02 10:07] christiaanb commented on #72
http://hackage.haskell.org/package/clash-prelude-0.10.14/docs/CLaSH-Sized-Vector.html#v:backpermute is isomorphic to `(Index n -> a) -> Vec n a`.

[2016-09-02 10:26] christiaanb commented on #72
Would:

[code]

work for you?

so you can write:

[code]

[2016-09-03 21:36] ggreif commented on #72
`multiplexer` is the more accepted spelling

[2016-09-05 04:38] adamwalker opened #73 "Function to replace slice of vector"
Would it be possible to add a function, replaceVec, similar to "replace" from CLaSH.Sized.Vector which replaces a slice instead of a single element?
Perhaps something like:

[code]

[2016-09-05 08:12] christiaanb commented on #73
@adamwalker Do you want a "static" version, like the example you posted (which is sorta similar to [setSlice](http://hackage.haskell.org/package/clash-prelude-0.10.14/docs/CLaSH-Prelude-BitIndex.html#v:setSlice), or do you want a "dynamic" version, similar to the [replace](http://hackage.haskell.org/package/clash-prelude-0.10.14/docs/CLaSH-Sized-Vector.html#v:replace) function you mentioned? Or do

[2016-09-05 08:22] adamwalker commented on #73
Good point. I actually want both, if thats doable.

[2016-09-05 08:27] christiaanb commented on #73
So what should be the out-of-bounds behaviour for the dynamic version?

* Should it be similar to `replace`, and give a run-time error when the `offset + length replacement > length vec`?
* Should it truncate the LSBs of `replacement`?

[2016-09-05 08:34] adamwalker commented on #73
Well, I think it should behave however you decide is most sensible :)
But, in my opinion it should behave similar to replace and give a runtime error.
What does replace do in actual hardware when the index is out of bounds?

[2016-09-05 08:38] christiaanb commented on #73
The worst thing possible: the index will wrap around.

[2016-09-05 09:44] comonoidial commented on #72
The downside of using this vector multiplexer variant is that it depends on the implicit Enum ordering of the selection signal. And I would prefer explicit selectors to keep the code understandable.

Maybe Vector could be made an instance of Representable Functor, with:
[code]
Also the related type classes in Data.Key have a lot of functions that work on both lists and vectors, so that could be a

[2016-09-05 12:28] #61 closed

[2016-10-11 12:46] firegurafiku opened #76 "Package name "CLaSH" is a disaster to type"
The «two caps — small letter — two caps» is so unusual pattern, so I just cannot type it automatically, I need to fix my attention to that ridiculous casing. What's wrong with plain «Clash»?

[2016-10-12 09:44] christiaanb commented on #76
Well, it all started with "CAES Language for Synchronous Hardware", CLaSH, as the name for the language/compiler. I never gave it much thought when I made the root-name of the module structure the same name as the name of the language/compiler.

[2016-10-24 13:01] tomjaguarpaw opened #77 "instance BitPack ()"
There should be

[code]

I know this seems trivial but it's going to be needed by someone sooner or later (probably because they are generating code).

[2016-10-24 14:20] christiaanb commented on #77
@tomjaguarpaw what kind of VHDL/Verilog do you expect CLaSH to output given the following Haskell code?:

[code]

An entity with 1 input port and 1 output port, both of width 0? Or, an entity without input or output ports?

I'm asking, because VHDL/Verilog synthesis tools loudly complain about things that are 0-bit wide. So if you expect the entity to have an input and an output port, then the ins

[2016-10-24 14:22] tomjaguarpaw commented on #77
I've no idea, but this problem seems to be independent of my suggestion.

[2016-10-24 14:23] tomjaguarpaw commented on #77
I'm not expecting anyone ever to use this instance in a top-level entity in any case ...

[2016-10-25 14:47] tomjaguarpaw opened #78 "Could we have 'Maybe (addr, a)' for asyncFifoSynchronizer too?"
You made a good improvement to `blockRam` here

https://github.com/clash-lang/clash-prelude/commit/dd5d6d6498b3041e8353db582466171fd96bac3d#diff-7d38ffc682830b8659330a410dbf0986R712

making it take a `Maybe (addr, a)` instead of an `addr`, `a`, and `Bool`.  Could we have the corresponding improvement to `asyncFIFOSynchronizer`?

https://github.com/clash-lang/clash-prelude/blob/master/src/CLaSH/Pre

[2016-10-25 15:23] tomjaguarpaw opened #79 "Haddock typo"
This looks like a Haddock typo: https://github.com/clash-lang/clash-prelude/blob/master/src/CLaSH/Prelude/BlockRam/File.hs#L180

[2016-10-25 15:24] tomjaguarpaw commented on #79
Presumably the `)@` should be deleted.

[2016-10-25 16:26] tomjaguarpaw commented on #76
I'd really appreciate changing the top level module to `Clash`.  I know it's an unwieldy change, but better now than later, and it can be done in a backwards compatible way.

[2016-10-25 16:33] christiaanb commented on #76
I'm inclined to do this for the clash 1.0 release, although I can be convinced to do it for the upcoming clash-0.7 release if people really want it.

[2016-10-25 16:37] christiaanb commented on #78
Yes, I'll do so soon.

[2016-11-16 16:45] ggreif opened #80 "Add Medvedev-style machine?"
https://en.wikipedia.org/wiki/Finite-state_machine#Hardware_applications

It is just a Moore machine without any output logic:
[code]
But it comes up often, so it is probably a worthwhile  addition.

[2016-11-16 16:47] ggreif commented on #80
Should I come up with a pull request?

[2016-11-16 17:17] christiaanb commented on #80
Yes, submit a PR please. the `Moore` module is probably the best place for it.

[2016-11-16 18:40] ggreif commented on #80
Okay, see PR #81

[2016-11-27 21:43] expipiplus1 opened #82 "Change asyncFIFOSynchronizer's readRequest name to popRequest"
`pop` is a little more descriptive than `read`. With the current setup one is always "reading" (unless it's empty)

[2016-12-01 17:58] ggreif opened #83 "Pipelines?"
I have just written a toy 3-stage pipeline for a `moore` machine:
[code]
I wonder whether such a thing would be useful for folks. If not, please close. Otherwise I could come up with a pull request. Of course many variants (types of feedback/`mealy` etc.) would be possible, so some guidance is welcome.

[2016-12-01 23:12] ra1u commented on #83
I like idea, and extra points for generic approach that enables support for wide range of use-cases. I am not sure what function did you aim for, but for `pmoore` there is also alternative approach that can be useful.

    pmoore = r 1 read .  r "42" show . r 0 (*2)
       where
             r a f =  register a . fmap f

[2016-12-07 16:20] expipiplus1 commented on #76
I never had a problem with this, but now every time I type `CLaSH` I think "Oh, I'm experiencing issue #76".

[2016-12-08 11:58] expipiplus1 opened #84 "Export less from CLaSH.Prelude"
Does it make sense to export symbols such as `words` and `lines` from `CLaSH.Prelude`?

[2016-12-14 15:11] expipiplus1 opened #85 "The documentation for asyncFIFOSynchronizer is incorrect"
The documentation says that the FIFO contains `2^addrSize` elements: "`Size of the internally used addresses, the FIFO contains 2^addrSize elements.`" however the SNat passed in has value `addrSize + 2`.

I think the documentation should say the FIFO contains `2^(addrSize + 2)` elements. Better yet would be to pass in `addrSize` and have the constraint `2 < addrSize`

[2016-12-15 14:18] #85 closed

[2017-01-14 22:08] expipiplus1 opened #86 "Derive Read for TopEntity"
This would be handy :)

I'm happy to do this, this issue's a reminder.

[2017-01-15 13:48] #86 closed

[2017-01-17 05:52] dmjio opened #88 "build failure w/ GHC 8.0.2"
`clash-prelude-0.11` fails to build under `ghc-8.0.2` w/ both `hackage` and `github` versions, failure is:
[code]

[2017-01-17 07:25] christiaanb commented on #88
@dmjio what version of the [ghc-typelits-knownnat](http://hackage.haskell.org/package/ghc-typelits-knownnat) package is being used? Because I released version 0.2.3 on 15-Jan-2017 for exactly this bug: http://hackage.haskell.org/package/ghc-typelits-knownnat-0.2.3/changelog

[2017-01-17 11:58] christiaanb commented on #88
Using stackage LTS-7.16 and GHC-8.0.2 (https://github.com/clash-lang/clash-prelude/blob/0.11/stack-ghc802.yaml), all tests seems to pass: https://travis-ci.org/clash-lang/clash-prelude/jobs/192653376

[2017-01-17 14:05] danielwaterworth opened #89 "Index 0 constructible via maxBound."
-1

[2017-01-17 20:22] dmjio commented on #88
@christiaanb, Ah, that must be it, I'm building under nix. The latest `clash-*` packages aren't on there yet (cabal2nix hackage script has yet to run and commit latest). So I'm cloning locally and overriding, it must be using an old `ghc-typelists-knownat`. Let me try to pull latest on that package.

[2017-01-18 17:55] dmjio commented on #88
Alright, I've upgrade all packages to latest, included `natnormalise` as well.
[code]
But am now hitting a new error, unsure if this has anything to do with `clash`.  I can't build packages that depend on `clash-ghc`. If this doesn't look familiar I can file a separate issue, or take it elsewhere.

[code]

[2017-01-18 17:56] christiaanb commented on #88
@dmjio: ah, yes, I missed a file in the source release of `clash-ghc-0.7`, you will need to use `clash-ghc-0.7.0.1`.

[2017-01-18 18:00] dmjio commented on #88
Cool, updated to `0.7.0.1` and I'm in now :) Thanks.

[2017-01-18 18:31] #88 closed

[2017-01-24 14:02] expipiplus1 commented on #76
Also, why is the lambda lowercase if it's standing for "Language"?

[2017-01-24 14:05] christiaanb commented on #76
because the uppercase lambda isn't as cool

[2017-01-29 08:12] #80 closed

[2017-01-29 08:13] christiaanb commented on #57
Fixed with the release of 0.11

[2017-01-29 08:13] #57 closed

[2017-01-29 08:15] christiaanb commented on #42
`blockRam` uses a `Maybe (addr, a)` write port as of clash-prelude-0.11.

[2017-01-29 08:15] #42 closed

[2017-01-29 08:17] christiaanb commented on #78
`asyncFIFOSynchronizer` has a `Maybe a` a type as its write/push argument as of clash-prelude-0.11

[2017-01-29 08:17] #78 closed

[2017-02-05 07:57] strake opened #92 "asyncRam' :: Enum addr => SClock wclk -> SClock rclk -> SNat n -> Signal' wclk (Maybe (addr, a)) -> Signal' rclk (addr -> a)"
and likewise `asyncRam`.

The path from read address to output is combinational, which we can so encode in the type.

My use case is a register file where we have a `Signal (Either RegNum Word)`, either a register number or an immediate value, and we want a `Signal Word`, either the value in that register or the immediate value. It is much more convenient and less heinous with the proposed type of

[2017-02-07 08:48] christiaanb commented on #92
I assume another varient of `asyncRam` will also work for you. I'd like to keep the current signature for people who are new to Clash/Haskell.

[2017-02-11 18:31] comonoidial commented on #92
What about adding a special operation on signal functions, so that current simple `asyncRam` can be converted into the more flexible proposed variant.
It would be something alike to currying on signals that needs to be a primitive in the prelude:
[code]
Then you could write the following (with an extra flip because of unfortunate argument ordering):
[code]

[2017-02-11 19:38] christiaanb commented on #92
@comonoidal i dont think is is possible to write that function.

[2017-02-12 13:34] comonoidial commented on #92
Right this function can not exist, although the other way around is trivial. Even with other Signal representations it seems you can not enforce all the properties to allow for this function.
Does this mean we should provide signal of function returning variants for all primitives where it is feasible?

[2017-02-14 02:53] strake commented on #92
I would prefer that myself. Essentially this means it returns time-varying combinational logic, i believe.

[2017-02-14 02:55] strake commented on #92
@christiaanb: Could we have another term, say `asyncRamFn` or somewhat, and define `asyncRam ... = (<*>) (asyncRamFn ...)`?

[2017-02-14 09:26] christiaanb commented on #92
@strake: yes, that'll work. Will you write a patch?

[2017-02-16 01:13] strake commented on #92
Yep, once i figure out how to do so ☺

[2017-02-28 11:23] christiaanb opened #96 "Changing `()`'s `Bundle` instance to be like the other tuple instances?"
Currently we have:

[code]

which is completely `_|_`-preserving is both directions, _but_, doesn't correspond to the other `Bundle` instances for tuples.

Should this be changed to:

[code]

which corresponds more to the other `Bundle` instances for tuples, but isn't `_|_`-preserving in its `unbundle` method.

[2017-03-01 12:56] Ericson2314 commented on #96
I've been wishing products were unlifted in Haskell lately. Certainly we need to be lazy about the tag bits, but when there's no tag bits there's no obligation!

Not sure what this means for undefined/X as the bottom we most care about, but otherwise I approve of this change.

[2017-03-01 15:20] christiaanb commented on #96
The other Product-like instances aren't particularly Bundle class law abiding either when it comes to bottom.

[2017-03-02 11:24] #96 closed

[2017-03-15 16:50] DigitalBrains1 opened #99 "Should signal be that general?"
The function `signal` currently has the type:
[code]

It seems like it is simply an alias for `pure`. But I encountered a situation where a type inference failed because of this. I had a component that wrapped another component (adding functionality on top) and where the inner component had a constant output (unused functionality of a connected piece of hardware). The following dumb code illustrat

[2017-03-28 09:19] christiaanb opened #101 "Case-expression in BitVector's signExtend should be exhaustive"
Currently, we get a warning that it isn't. See https://github.com/clash-lang/clash-prelude/blob/master/src/CLaSH/Sized/Internal/BitVector.hs#L578

[2017-03-28 09:20] christiaanb opened #102 "Mark CLaSH.Prelude.Synchronizer safe"
It is currently marked as Trustworthy, but is actually inferred safe

[2017-03-28 09:26] #79 closed

[2017-04-06 15:39] DigitalBrains1 opened #103 "stepLock eats my tuple data"
`stepLock` seems to go very wrong when the data is a tuple:
[code]

CλaSH says:
[code]

That's because the data output of `stepLock` is not `((Unsigned 4, Unsigned 8), (Unsigned 4, Unsigned 8))` as would be expected when you use `stepLock`, but it is just the single `(Unsigned 4, Unsigned 8)` output.

[2017-04-06 15:44] #103 closed

[2017-04-06 15:45] DigitalBrains1 commented on #103
While going about writing a temporary replacement, I discovered I had simply misunderstood `stepLock`, and I'm writing this with a nice red blush on my cheeks. Ground, please open up now.

[2017-04-22 20:05] cbiffle opened #104 "`regEn#` fails to converge in sim when enable depends on previous output"
In ed616b5, the (simulation-time) definition of `regEn#` was changed to evaluate its signal operands more eagerly and avoid a space leak.  The implementation is now a recursive stream generator using a helper function:

[code]

Note the tilde in the definition of `go`.  This is a lazy pattern match, ensuring that execution can "pass" the equals sign and yield `o` (the register's current value) bef

[2017-04-24 16:07] #104 closed

[2017-05-03 06:42] gnull opened #106 "No enable signal for function `window`"
One of my friends who is a hardware designer starting to learn Clash was disappointed with the fact that Prelude's `window` function doesn't allow him to pass an enable signal to it. Such a signal could be used, for example, to get a window over some selected set of clock cycles by making the `window` pause for unnecessary clock cycles. According to him, such a feature is frequently used in typica

[2017-05-03 08:12] christiaanb commented on #106
Well, `window` isn't a primitive of the compiler, so you could write `windowEn` yourself:

[code]

`windowMaybe` is not straigforward to write, because, the output depends directly on the input. We can however write a `windowDMaybe`: a counterpart to the `windowD` function:

[code]

Now, we can write something like `windowMaybe`, but its output would be a `Maybe` value as well:

[code]
In conclusi

[2017-05-03 12:32] gnull commented on #106
@christiaanb, thank you for so detailed reply!

But here is something in your `mealyEn` function that seems weird to me. Its output is always present and depends on input without checking whether `en` is `True`. So if `en` is false, `i` may contain any kind of garbage that is populated to `o`. And somebody who uses the value of `o` on the other end of the wire has no means to determine whether `o`

[2017-05-12 14:54] #89 closed

[2017-06-10 07:52] ra1u opened #110 "window should have simpler signature"
current
[code]

proposed
[code]

This makes auto type deduction simpler and possible in cases where (n+1) becomes unmanageable.

Possible implementation:

`window = iterateI (register def)`

[2017-06-11 21:59] christiaanb commented on #110
ra1u, you are correct, I'll put it on my todo list.

[2017-06-27 18:01] ra1u opened #114 "abs of SFixed does not saturate."
for example

[code]
where expecting maxBound that is 15.75

[2017-08-16 00:45] thoughtpolice opened #117 "Eventually remove lambdaDrop"
Based on a convo with @christiaanb: provided we can fix [GHC issue #13663](https://ghc.haskell.org/trac/ghc/ticket/13663), we could get rid of the lambdaDrop pass completely. This would be nice (and also sort of nip some of its bad time complexity in the bud).

It might be possible to do this for GHC 8.2.2 if someone writes the patch and asks very nicely. Shouldn't be too hard.

[2017-08-16 00:45] thoughtpolice commented on #117
Oops, wrong repository!

[2017-08-16 00:45] #117 closed

[2017-08-17 09:20] christiaanb opened #119 "DDR primitive documentation"
Add example of a sequence of inputs and outputs for:

https://github.com/clash-lang/clash-prelude/blob/3cc789c72c10f663beeec9eb35458b4bba39de6a/src/CLaSH/Explicit/DDR.hs#L41-L58

and

https://github.com/clash-lang/clash-prelude/blob/3cc789c72c10f663beeec9eb35458b4bba39de6a/src/CLaSH/Explicit/DDR.hs#L131-L142

[2017-09-03 04:39] thoughtpolice opened #122 "Remove uses of `data-default`"
While looking at the type signature of `window`, it uses `data-default` in order to provide default instances for various types.

However, there are no *non* `Default` versions of these functions, which I find extremely odd! I was going to try adding them. But I considered "when you have a non-Default version that takes an initial value, why even bother with a default version when you can just say

[2017-09-10 14:32] Jhana1 commented on #122
I use default quite a bit in my code. I'd be disappointed to see it go, but I'd probably just rewrite them myself.

[2017-09-15 08:48] #76 closed

[2017-10-07 22:55] bgamari opened #128 "Better testing infrastructure for sequential logic"
Currently writing testbench code in CLaSH is rather painful. For instance, I recently tried testing an AXI interface. AXI, like many protocols, uses a valid/ready handshake for transmission. This means that for my testbench to send a message to the device-under-test I need to wait for an acknowledgement, which may take a number of cycles. In Verilog I would usually write non-synthesizeable testben

[2017-10-07 23:02] bgamari commented on #128
Just to supply some inspiration, here is an example of the test bench that I would like to be able to write,
[code]

Unfortunately, it's not at all clear how to implement such an interface in a safe way

[2017-10-08 16:13] christiaanb commented on #128
How about something like this?

[code]

[2017-10-08 20:21] bgamari commented on #128
I'm quite fond of the idea of a monadic interface, at least in principle. Here is my attempt: https://git.smart-cactus.org/ben/clash-play/blob/master/TestM.hs.

[2017-10-26 08:36] christiaanb opened #132 "Rename `satMin` to `satSub`"
Basically rename:

[code]

to

[code]

[2017-10-26 13:36] leonschoorl commented on #114
While surprising, it is at least consistent with other types in Haskell:
[code]

[2017-10-26 14:22] leonschoorl commented on #132
If you do this, to keep things consistent you should probably also rename the operations on the [ExtendingNum class](http://hackage.haskell.org/package/clash-prelude-0.11.2/docs/CLaSH-Class-Num.html#t:ExtendingNum) and [bounded{Plus,Min,Mult}](http://hackage.haskell.org/package/clash-prelude-0.11.2/docs/CLaSH-Class-Num.html#v:boundedPlus).

Did you thing about the argument order of sub(tract) vs m

[2017-10-27 12:49] pikkio opened #133 "Possible regression with the Traversable instance of Vec"
Hi,
I recently moved a project from `lts-3.6` (GHC 7.10.2, clash-ghc 0.5.14,  clash-lib 0.5.12, clash-prelude 0.9.2) to `lts-9.10` (GHC 8.0.2, clash-ghc 0.7.2, clash-lib 0.7.1, clash-prelude 0.11.2) and I suddenly ran into a typing issue when using `Vec`.

[code]

For example, the (non-synthesizable) code above compiles fine on lts-3.6 (both with `ghc` and `clash`), whereas on lts-9.10 I get:

[co

[2017-10-27 12:58] christiaanb commented on #133
For `clash-prelude-0.10` we changed the `Foldable` (and consequently the `Traversable`) instance so that it only works for non-empty `Vec`tors. Basically, you will have to write `foo` to:

[code]

Maybe the following also works.

[code]

I blame this on `Foldable` being a rediculously large type-class, and including `foldr1` and `foldl1`, which can only be reasonably implemented for non-empty `Vec

[2017-10-27 13:11] pikkio commented on #133
Oh, I see. Thank you very much!
The following code compiles perfectly:

[code]

[2017-10-27 13:43] #133 closed

[2017-10-30 03:51] juhp opened #134 "clash-prelude-0.11.2 fails to build with ghc-typelits-natnormalise-0.5.5"
When building for LTS-9:

[code]

[2017-10-31 10:59] christiaanb commented on #134
Thanks for the report. That's a regression in `ghc-typelits-natnormalise`. I've uploaded version 0.5.6 of `ghc-typelits-natnormalise` to hackage which fixes the bug; with version `0.5.6`, `clash-prelude` compiles again.

[2017-10-31 10:59] #134 closed

[2018-03-09 21:57] cchalmers opened #141 "unsafeSNat doesn't synthesise"
[code]

errors with

[code]

[2018-03-20 19:36] cemerick opened #144 "`simulate` et al. raise a spurious/misleading exception when inputs are exhausted"
Example:

[code]

Absent the background/context, this output looks like something's gone wrong.

Per @christiaanb in irc:

[code]

Seems like a reasonable beginner contribution. I'll take a shot at a PR, perhaps.

Q: should an exception be raised at all in this case? It seems that a finite input here is a reasonable expectation.

[2018-04-26 07:15] christiaanb commented on #141
I think we'll have to wait for `-XDependentTypes` in GHC in order to support this.

[2018-06-13 11:57] basile-henry opened #160 "GHC Version in README.md"
Is it still the case that this library only works with GHC 8.0.2? https://github.com/clash-lang/clash-prelude/blame/master/README.md#L8

[2018-06-13 12:27] christiaanb commented on #160
only 8.2+ actually

[2018-06-18 11:43] #160 closed

[2018-07-29 04:43] postoroniy commented on #114
BTW the same is for C.
And not the same for matlab :) where it makes sense quite a lot and I'd be happy to have abs as @ra1u expected.

[2018-08-28 11:58] martijnbastiaan commented on #132
@christiaanb Could you elaborate on the reason you want to see this change?